<launch>
  <arg name="serial_no_camera1"    			default="046222071689"/> 			
  <arg name="serial_no_camera2"    			default="046222070352"/> 						
  <arg name="camera1"              			default="cameraL"/>		
  <arg name="camera2"              			default="cameraR"/>		
  <arg name="tf_prefix_camera1"         default="robot3/cameraL"/>
  <arg name="tf_prefix_camera2"         default="robot3/cameraR"/>
  <arg name="initial_reset"             default="false"/>
  <arg name="enable_fisheye"            default="false"/>
  <arg name="color_width"               default="640"/>
  <arg name="color_height"              default="480"/>
  <arg name="depth_width"               default="640"/>
  <arg name="depth_height"              default="480"/>
  <arg name="filters"                   default="pointcloud,decimation"/> <!-- ,temporal,disparity,spatial"/> -->
  <arg name="manager_cameraL"                   default="realsense2_camera_manager"/>
  <arg name="manager_cameraR"                   default="realsense2_camera_manager"/>

  <!-- decimation filter -->
  <rosparam>
  /robot3/cameraR/decimation/filter_magnitude: 8
  /robot3/cameraL/decimation/filter_magnitude: 8
  </rosparam>

  <group ns="$(arg camera1)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"             value="$(arg serial_no_camera1)"/>
      <arg name="tf_prefix"         		value="$(arg tf_prefix_camera1)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="filters"               value="$(arg filters)"/>
      <arg name="publish_odom_tf"        value="false"/>
      <arg name="enable_color"        value="true"/>
      <!--arg name="external_manager"        value="true"/-->
      <arg name="color_width"           value="$(arg color_width)"/>
      <arg name="color_height"          value="$(arg color_height)"/>
      <arg name="depth_width"           value="$(arg depth_width)"/>
      <arg name="depth_height"          value="$(arg depth_height)"/>
    </include>

    <!-- <node pkg="nodelet" type="nodelet" name="cameraL_converter" args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet $(arg manager_cameraL)" >
      <param name="scan_height" value="1"/> 
      <param name="range_min" value="0.2"/>
      <param name="range_max " value="1.5"/>
      <param name="output_frame_id " value="robot3/cameraL_depth_frame"/>  
      <remap from="image" to="depth/image_rect_raw"/>
      <remap from="camera_info" to="depth/camera_info"/>
    </node> -->
  </group>

  <!-- <node pkg="tf" type="static_transform_publisher" name="left_camera_to_base_link" 
    args="0.19 0.18 0 0.75  -1 0.0 /base_link /cameraL_link 30" />  -->

  <group ns="$(arg camera2)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"             value="$(arg serial_no_camera2)"/>
      <arg name="tf_prefix"		          value="$(arg tf_prefix_camera2)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="filters"               value="$(arg filters)"/>
      <arg name="publish_odom_tf"        value="false"/>
      <arg name="enable_color"        value="true"/>
      <!--arg name="external_manager"        value="true"/-->
      <arg name="color_width"           value="$(arg color_width)"/>
      <arg name="color_height"          value="$(arg color_height)"/>
      <arg name="depth_width"           value="$(arg depth_width)"/>
      <arg name="depth_height"          value="$(arg depth_height)"/>

    </include>
    <!-- <node pkg="nodelet" type="nodelet" name="cameraR_converter" args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet  $(arg manager_cameraR)" >
      <param name="scan_height" value="1"/>  
      <param name="range_min" value="0.3"/>
      <param name="range_max " value="1.5"/>
      <param name="output_frame_id " value="robot3/cameraR_depth_frame"/>  
      <remap from="image" to="depth/image_rect_raw"/>
      <remap from="camera_info" to="depth/camera_info"/>
    </node> -->
  </group>

  <!-- <node pkg="tf" type="static_transform_publisher" name="right_camera_to_base_link" 
    args="0.19 -0.18 0 -0.75  -1  3.142 /base_link /cameraR_link 30" />  -->

</launch>

