<launch>
    <include file="$(find deliverybot_bringup)/launch/bringup_multi_gui_single.launch" /> 
    <include file="$(find deliverybot_nav)/launch/multi/multi_nav_bringup.launch" >
	    <arg name="map_name" value="lab"/>
        <arg name="initial_pose_x"            value="18"/>
        <arg name="initial_pose_y"            value="27"/>
        <arg name="initial_pose_a"            value="3.15"/>
    </include>
    <include file="$(find ros_tcp_endpoint)/launch/endpoint.launch" />
    <!-- GUI -->
  <include file="$(find medical_task)/launch/sendgoal_gui_single.launch"/>
</launch>

